p {
  margin: 0 !important;
}
li {
  list-style: none;
}
.back-style {
  background: #cecece;
}
.no-back-style {
  background: #fff;
}
.padding-top-style {
  padding-top: 20px;
}
.setting-info {
  min-height: 100%;
  font-family: 'PingFangSC-Semibold';
  padding: 10px 32px 32px 32px !important;
}
.personal-info {
  font-size: 18px;
  color: #202940;
  line-height: 28px;
}
.info-survey {
  position: relative;
  height: 112px;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding-left: 24px;
  font-size: 14px;
  color: #757c85;
  .el-container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.info-image {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  border-radius: 32px;
  .avatar-uploader {
    text-align: center;
    line-height: 64px;
  }
}
.info-text {
  padding-left: 20px;
}
.info-name {
  font-size: 24px;
  color: #333333;
  line-height: 30px;
  padding-bottom: 6px;
}
.info-other {
  font-size: 14px;
  color: #757c85;
}
.info-other .line-middle {
  display: inline-block;
  height: 12px;
  width: 2px;
  background: #ccc;
  margin: 0 4px 0 8px;
  vertical-align: middle;
}
.info-detail {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border-radius: 4px;
}
.info-detail .el-tabs__header {
  padding-left: 24px;
}
.info-detail .el-tabs__nav-wrap {
  height: 50px;
  line-height: 50px;
}
.el-tabs__nav .el-tabs__item {
  font-size: 16px !important;
  color: #545b66;
  line-height: 36px;
}
.info-detail .el-tabs__content {
  height: 100%;
  background: #fff;
}
.info-detail .personal-basic-info {
  padding: 20px 30px 30px 30px;
}
.info-detail .personal-basic-info.no-back-color {
  background: #fff;
}
.info-detail .personal-basic-info.back-color {
  background: #cecece;
}
.personal-basic-info .basic-info {
  float: left;
}
.basic-info-title-line {
  width: calc(100% - 140px);
  display: inline-block;
  border-top: 2px dashed #999;
  margin: 5px;
}
.info-detail .info-edit-button {
  text-align: right;
  cursor: pointer;
  height: 30px;
  .el-icon-edit {
    font-size: 18px;
    color: #207efa;
  }
  .edit-button-text {
    font-size: 14px !important;
    color: #757c85 !important;
  }
}

.info-detail .basic-info-content {
  background: #fff;
  padding: 15px 0 0 20px;
  .el-cascader {
    width: 100%;
  }
  input {
    height: 34px !important;
    color: #202940;
    font-size: 14px;
  }
  .readonly-style input {
    border: none;
  }
  .edit-style input {
    border: 1px solid #dcdfe6;
  }
  .detail-position {
    margin-top: -20px;
    input {
      height: 46px !important;
    }
  }
}
.info-detail .el-tabs__content .info-form .el-form-item__label {
  color: #718199;
}

.info-button-group {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 !important;
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-button {
    width: 80px;
    height: 42px;
  }
}
.hidden {
  display: none;
}
