body, html{
  margin: 0;
  padding: 0;
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

input, textarea{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
.flex {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
}
.flex-flow {
  flex-flow: row nowrap;
}

.flex-flow-column {
  flex-flow: column nowrap;
}

.flex-items {
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-start {
  justify-content: flex-start;
}
[class^="icon-"]{
	font-family: "iconfont";
	/* 以下内容参照第三方图标库本身的规则 */
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
