.el-menu--popup {
  .el-menu-item {
    background-color: #20222a;

    i,
    span {
      color: hsla(0, 0%, 100%, 0.7);
    }

    &:hover {
      i,
      span {
        color: #fff;
      }
    }

    &.is-active {
      background-color: rgba(0, 0, 0, 0.8);

      &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        background: #409eff;
        position: absolute;
      }

      i,
      span {
        color: #fff;
      }
    }
  }
}

.avue-sidebar {
  user-select: none;
  position: relative;
  // padding-top: 60px;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: width 0.2s;
  box-sizing: border-box;
  // box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  border-top: 1px solid #f6f6f6;
  .el-scrollbar__wrap {
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #115fd4 0%, #207efa 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05);
  }

  .el-submenu.is-opened {
    > .el-submenu__title {
      background: rgba(5, 67, 173, 0.5);

      > span {
        color: #fff;
      }

      > i {
        color: #fff;
      }
    }
  }

  &--tip {
    width: 90%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5%;
    color: #757c85;
    z-index: 2;
    text-align: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .el-menu-item,
  .el-submenu__title {
    i {
      margin-right: 10px;
    }

    i,
    span {
      color: #9cd1ff;
    }

    &:hover {
      background: transparent;

      i,
      span {
        color: #fff;
      }
    }

    &.is-active {
      &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background: #69d1c8;
        position: absolute;
      }

      background: rgba(5, 67, 173, 0.5);
      i,
      span {
        color: #fff;
      }
    }
  }
}
